<a href="https://colab.research.google.com/github/soumyabrataghosh/Caldera-Forms/blob/master/MADS_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4. Python Loops

- `for` loops are used to iterate over sequential input (list, array, string)
- `while` loops are used in cases with no clarity of the iteration numbers, but to iterate till the condition statement is satisfied



---


# `for` Loop
```
for <temporary variable> in <list variable>:
  <action statement>
  <action statement>
```

In [ ]:
#each num in nums will be printed below
nums = [1,2,3,4,5]
for num in nums: 
  print(num)

1
2
3
4
5

## Loops with range()

In [ ]:
# Print the numbers 0, 1, 2:
for i in range(3):
  print(i)
 
# Print "WARNING" 3 times:
for i in range(3):
  print("WARNING")

In [ ]:
# using start, end, and step
for i in range(3,9,2):
  print(i)

3
5
7



---

# Loop Control Statements 

Loop control statements change execution from its normal sequence. When execution leaves a scope, all automatic objects that were created in that scope are destroyed. 


## `break` a loop

`break` brings control out of the loop

In [ ]:
for num in range(1980, 2020, 4):
  if (num > 2010):
    print("2010 passed!")
    break
  print(num)

1980
1984
1988
1992
1996
2000
2004
2008
2010 passed!

# Jump and `continue` to the next iteration

`continue` returns the control to the beginning of the loop

In [2]:
for num in range(1980, 2020, 4):
  if (num > 2010):
    print(num, "as 2010 passed, jumped iteration")
    continue
  print(num,'normal iteration') # this will not be executed if continue

1980 normal iteration
1984 normal iteration
1988 normal iteration
1992 normal iteration
1996 normal iteration
2000 normal iteration
2004 normal iteration
2008 normal iteration
2012 as 2010 passed, jumped iteration
2016 as 2010 passed, jumped iteration



---


# `while` Loops

`while` loop will repeatedly execute a code block as long as a condition evaluates to `True`

In [ ]:
num = 1980
while num < 2010:
  print(num,'in while')
  num += 4 # num = num +4

1980 in while
1984 in while
1988 in while
1992 in while
1996 in while
2000 in while
2004 in while
2008 in while



---


# Nested Loops

Loop inside a loop

In [ ]:
groups = [["Jobs", "Gates"], ["Newton", "Euclid"], ["Einstein", "Feynman"]]
 
# This outer loop will iterate over each list in the groups list
for group in groups:
  # This inner loop will go through each name in each list
  for name in group:
    print(name)

Jobs
Gates
Newton
Euclid
Einstein
Feynman



---


# Exercise 4.1

- Create a list of all years divisible by 5 form 1923 to 2013
- Write a loop to to print all years from that list except the years between 1949 to 1966

In [ ]:
# Write your code here



---


# List Comprehension 

- concise way for creating lists
- structure: `[EXPRESSION for ITEM in LIST <if CONDITIONAL>]`

## Simple copy

In [ ]:
listofvar = [8, 11, 23, 17, 29, 33]
new_list = [x for x in listofvar]
print(new_list)

[8, 11, 23, 17, 29, 33]

## Conditional

In [ ]:
listofvar = [8, 11, 23, 17, 29, 33]
new_list = [x for x in listofvar if x > 20]
print(new_list)

[23, 29, 33]

## Operational

In [ ]:
listofvar = [8, 11, 23, 17, 29, 33]
new_list = [x**2 for x in listofvar if x > 20]
print(new_list)

[529, 841, 1089]



---


# Exercise 4.2

We have a list:

```
numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]
```
Using a list comprehension, create a new list called "newlist" out of the list "numbers", which contains only the positive numbers from the list, as integers.

In [ ]:
# Write your code here

# Exercise 4.3 (asignment)
- Create a mixed list of integers and strings with more tha 4 items
- Then create a list of only the integers from it.
- Then calculate the **sum**.

In [ ]:
# Write your code here